<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=".././vendors/bootstrap/styles/bootstrap.min.css">

    <title>Unfollowwers for instagram</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <h3>fullscreen page</h3>
    <button class="btn btn-success">Bootstrap test</button>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=".././vendors/bootstrap/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src=".././vendors/bootstrap/scripts/popper.min.js"></script>
    <script src=".././vendors/bootstrap/scripts/bootstrap.min.js"></script>
  </body>
</html>