<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href=".././vendors/bootstrap/styles/bootstrap.min.css">

  <title>Configuration | Unfollowers on Instagram </title>
</head>

<body>
  <div class="container">
    <div class="text-center">
      <h4>Unfollowers on Instagram</h4>
    </div>

    <!-- Settings form -->
    <div class="row justify-content-md-center">

      <div class="col-12 text-center">
        <h6>Welcome, You can make your settings on this form.</h6>
      </div>

      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="txtUserName">Username</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="txtUserName" placeholder="Username">
          </div>
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-primary mb-2" id="btnUpdateOptions">Update</button>
        </div>
      </div>
    </div>
    <!-- Settings form -->

    <p class="text-center">
      copyright © İbrahim Ekinci
    </p>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=".././vendors/jquery/jquery-v3-6-0.min.js"></script>
  <script src=".././vendors/bootstrap/scripts/popper.min.js"></script>
  <script src=".././vendors/bootstrap/scripts/bootstrap.min.js"></script>

  <!-- myjs -->
  <script src=".././scripts/main.js"></script>
  <script src=".././scripts/options_screen.js"></script>


</body>

</html>